---

---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <hr class="border border-black border-3 opacity-100" />
        </div>
        <div class="col">
            <div
                class="d-flex flex-row ustify-content-start align-items-center"
            >
                <span class="" style="font-size: 32px;">A</span>
                <a
                    class="btn disabled border-0 ms-4"
                    role="button"
                    aria-disabled="true">Work</a
                >
                <a
                    class="btn disabled border-0"
                    role="button"
                    aria-disabled="true">Info</a
                >
            </div>
        </div>
    </div>
</div>
